.card {
  background-color: none;
  margin-left: 40px;
}
.floatText {
  color: #092a40;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
  right: 25px;
}

.logo {
  height: 25px;
  width: 25px;
  background: none;
}
