.wrapper{
background-image: url(../Asseets/images/churchImage.jpg);
background-size: cover;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
padding-top: 50px;
}

.Authentication{
    width: 300px;
    height: 300px;
    border: burlywood 1px solid;
    
}
