
.SessionThead{
    margin-left: -40px;
    padding-top: 12px;
}
.SessionThead tr{
    font-size: 0.9em;
    min-width: 400px;
    /* text-align:left; */
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    color: aliceblue;
}

 .timee{
    position: relative;
    right: -18px;
}

.contactt{
    position: relative;
    right: px;
}

.adultss{
    position: relative;
    left: 13px;
}
.childrenn{
    position: relative;
    right: 15px;
}
.memberr{
    position: relative;
    right: 10px;
}

 .scc{
    position: relative;
    left: 35px;
}
.sessionn{
    position: relative;
    left: 15px;
}

/* .tHead th{
    color: #ffffff;
    font-weight: bold;
    
    
} */
